body {
  margin: 200px;
  background-color: blueviolet;
}
.container {
  background-color: green;
  border: 5px solid white;
  height: 250px;
  width: 550;
  margin: auto;
  text-align: center;
}

p {
  color: cornsilk;
}
#input {
  width: 75px;
  margin: 25px;
}
#btn {
  margin: 25px auto auto 5px;
}
